@media (min-width: 992px) {
  .feature {
    margin: 20px auto 0;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    border-color: transparent;
    background-color: transparent;
    min-height: 60px;
  }
  .navbar-header > .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    padding: 19px;
  }
  .navbar-default {
    .navbar-header .navbar-brand {
      &:hover, &:focus {
        color: #f4f4f4;
      }
    }
    .nav > li > a {
      color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      letter-spacing: 1.1px;
      text-shadow: $shadows;
      &:focus {
        color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: $shadows;
      }
      &:hover, &:focus:hover {
        color: #fefefe;
      }
    }
    &.affix {
      border-color: rgba(34, 34, 34, 0.05);
      background-color: #222;
      .navbar-header .navbar-brand {
        font-size: 15px;
        color: $color-main;
        padding: 20px;
        letter-spacing: 1px;
        &:hover, &:focus {
          color: #FC532F;
        }
      }
      .nav > li > a {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7);
        &:focus {
          color: #ddd;
          text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7);
        }
        &:hover, &:focus:hover {
          color: $color-main;
        }
      }
    }
  }
  .icon-lg {
    font-size: 80px;
  }
  header {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        h1 {
          font-size: 53px;
        }
        p {
          margin-right: auto;
          margin-left: auto;
          max-width: 80%;
          font-size: 18px;
        }
      }
    }
  }
  section {
    min-height: 600px;
    padding: 100px 0;
  }
}